---
// import BlogPostVue from '../../layouts/BlogPost.vue'
import BlogPost from '../../layouts/BlogPost.astro';

import { getAllPostsWithSlugs, getPostBySlug } from '../../lib/api';

export async function getStaticPaths() {
  const postWithSlugs = await getAllPostsWithSlugs();

  return postWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);


// const {
//   content: {}
// }
// console.log(post);
//
// console.log(window.navigator.language);
console.log(post.dateGmt);


const content = {
  title: post.title,
  description: post.excerpt,
  publishDate: post.dateGmt,
  heroImage: {
    src: post.featuredImage.node.mediaItemUrl,
    alt: post.featuredImage.node.altText,
    srcset: post.featuredImage.node.srcSet,
    sizes: post.featuredImage.node.sizes,
    mediaDetails: post.featuredImage.node.mediaDetails
  },
  seoData: post.seo
}

---

<BlogPost content={content}>
  <div class="wrapper">
    <article set:html={post.content}></article>
  </div>
</BlogPost>

<!-- <BlogPostVue  client:visible
              title={post.title}
              description={post.excerpt}
              publishDate={post.dateGmt}
              heroImage={passProps.heroImage}>
  <div class="wrapper">
    <article set:html={post.content}></article>
  </div>
</BlogPostVue> -->