---
// import BlogPostVue from '@layouts/BlogPost.vue'
import BlogPost from '@layouts/BlogPost.astro';

import { getAllPostsWithSlugs, getPostBySlug } from '@lib/api';

export async function getStaticPaths() {
  const postWithSlugs = await getAllPostsWithSlugs();

  return postWithSlugs.edges.map(({ node }) => {
    return {
      params: { postSlug: node.slug },
    };
  });
}

const { postSlug } = Astro.params;
const post = await getPostBySlug(postSlug);
---

<BlogPost content={post}>
  <div class="wrapper">
    <article set:html={post.content}></article>
  </div>
</BlogPost>

<!-- <BlogPostVue  client:visible
              title={post.title}
              description={post.excerpt}
              publishDate={post.dateGmt}
              heroImage={passProps.heroImage}>
  <div class="wrapper">
    <article set:html={post.content}></article>
  </div>
</BlogPostVue> -->
