---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import BlogPostPreview from '../components/BlogPostPreview.astro';
import BlogPostPreview from '../components/BlogPostPreview.vue';
// import Test from '../components/Test.vue';
import { getAllPostsWithSlugs, getAllPostsWithContent } from '../lib/api';

let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';

// Use Astro.glob to fetch all post with associated frontmatter
// const unsortedPosts = await Astro.glob('./posts/*.md');
// const posts = unsortedPosts.sort(function (a, b) {
// 	return (
// 		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
// 	);
// });
//
//
async function allPosts() {
	const postWithSlugs = await getAllPostsWithContent();

  // return postWithSlugs.edges.map(({ node }) => {
  //   return {
  //     params: { slug: node.slug },
  //   };
  // });
	// const { node } =
	return postWithSlugs;
}
// const pagesWithSlugs = async () => getAllPostsWithSlugs();



// console.log(await allPosts());
const {edges} = await allPosts();
const posts = edges;
// const unsortedPosts = await Astro.glob(allPosts());
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<main class="content">
				<p>Blog overview</p>
				<section class="intro">
					<h1>{title}</h1>
					<p>{description}</p>
				</section>
				<section aria-label="Blog post list">
					<!-- <template v-for="post in posts"> -->
						<BlogPostPreview posts={posts} client:visible></BlogPostPreview>
					<!-- </template> -->
					<!-- {posts.map(post => (
						<BlogPostPreview
							title={post.title}
							// description={post.description}
							// publishDate={post.publishDate}
						/>
					))} -->
					<!-- {posts.map(({ url, frontmatter }) => (
						<BlogPostPreview
							title={frontmatter.title}
							description={frontmatter.description}
							publishDate={frontmatter.publishDate}
							url={url}
						/>
					))} -->
				</section>
			</main>
		</div>
	</body>
</html>

<style>
	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}

	.intro {
		padding-bottom: 4rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
</style>
