---
import '../styles/blog.css'; // TODO: remove

export interface Title {
  title: string;
}

export interface Seo {
  title: string;
  opengraphAuthor?: string;
  opengraphDescription?: string;
  opengraphPublisher?: string;
  opengraphTitle?: string;
  opengraphType?: string;
  opengraphUrl?: string;
  readingTime?: number;
  opengraphSiteName?: string;
  twitterDescription?: string;
  twitterTitle?: string;
  metaRobotsNofollow?: string;
  metaRobotsNoindex?: string;
  canonical?: string;
  metaDesc?: string;
  opengraphPublishedTime?: string;
  opengraphModifiedTime?: string;
  opengraphImage?: {
    sourceUrl: string;
  };
}

export interface SeoProps {
  title: Title
	seo: Seo
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, seo } = Astro.props as SeoProps & Title;
---
<!-- Block until theme class is set -->
<script is:inline>
  const isDarkTheme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('darkMode')) {
      return localStorage.getItem('darkMode');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'true';
    }
    return 'false';
  })();
  if (isDarkTheme === 'false') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={seo?.title} />
<meta name="description" content={seo?.opengraphDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={seo?.opengraphType} />
<meta property="og:url" content={seo?.opengraphUrl} />
<meta property="og:title" content={seo?.opengraphTitle} />
<meta property="og:description" content={seo?.opengraphDescription} />
<meta property="og:image" content={seo?.opengraphImage?.sourceUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={seo?.opengraphUrl} />
<meta property="twitter:title" content={seo?.twitterTitle} />
<meta property="twitter:description" content={seo?.twitterDescription} />
<meta property="twitter:image" content={seo?.opengraphImage?.sourceUrl} />

<!-- Webmention -->
<link rel="webmention" href={`${import.meta.env.WEBMENTION_URL}/webmention`} />
<link rel="pingback" href={`${import.meta.env.WEBMENTION_URL}/xmlrpc`} />
