---
import '../styles/blog.css'; // TODO: remove
import '../styles/app.scss';

export interface Props {
	title: string;
	seo: {
		title?: string;
		opengraphAuthor?: string;
		opengraphDescription?: string;
		opengraphPublisher?: string;
		opengraphTitle?: string;
		opengraphType?: string;
		opengraphUrl?: string;
		readingTime?: string;
		opengraphSiteName?: string;
		twitterDescription?: string;
		twitterTitle?: string;
		metaRobotsNofollow?: string;
		metaRobotsNoindex?: string;
		canonical?: string;
		metaDesc?: string;
		opengraphPublishedTime?: string;
		opengraphModifiedTime?: string;
		opengraphImage?: object;
	}
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, seo } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={seo.title} />
<meta name="description" content={seo.opengraphDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={seo.opengraphType} />
<meta property="og:url" content={seo.opengraphUrl} />
<meta property="og:title" content={seo.opengraphTitle} />
<meta property="og:description" content={seo.opengraphDescription} />
<meta property="og:image" content={seo.opengraphImage.sourceUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={seo.opengraphUrl} />
<meta property="twitter:title" content={seo.twitterTitle} />
<meta property="twitter:description" content={seo.description} />
<meta property="twitter:image" content={seo.opengraphImage.sourceUrl} />
