---
export interface Props {
  description: string;
  publishDate: string;
  title: string;
  url: string;
}

const { description, publishDate, title, url } = Astro.props;
---

<article class="post-preview">
  <header>
    <time>{publishDate}</time>
    <a href={url}><h1 class="title">{title}</h1></a>
  </header>
  <p>{description}</p>
  <a href={url}>Read more</a>
</article>

<style></style>
