---
import SocialList from "@components/SocialList.vue";
import Menu from "@components/Menu.vue";
import GreenHosted from "@components/GreenHosted.vue";
import { getMenuById, getAuthor, getAllCategories } from "@lib/api";
import { version } from "./../../package.json";
import _footer from "../styles/objects/_footer.scss";

const categories = await getAllCategories();
const footerMenuItems: object = await getMenuById(38);
const author = await getAuthor();

interface MainFooterProps {
  lang: {
    locale: string;
  };
}

const iconStyles = {
  size: 40,
  strokeWidth: 1,
};

const socialItems = {
  facebook: {
    url: author.user.seo.social.facebook,
    ...iconStyles,
  },
  instagram: {
    url: author.user.seo.social.instagram,
    ...iconStyles,
  },
  linkedIn: {
    url: author.user.seo.social.linkedIn,
    ...iconStyles,
  },
  mySpace: {
    url: author.user.seo.social.mySpace,
    ...iconStyles,
  },
  pinterest: {
    url: author.user.seo.social.pinterest,
    ...iconStyles,
  },
  soundCloud: {
    url: author.user.seo.social.soundCloud,
    ...iconStyles,
  },
  twitter: {
    url: author.user.seo.social.twitter,
    ...iconStyles,
  },
  wikipedia: {
    url: author.user.seo.social.wikipedia,
    ...iconStyles,
  },
  youTube: {
    url: author.user.seo.social.youTube,
    ...iconStyles,
  },
  github: {
    url: author.user.socialAdvanced.github,
    rel: "me",
    ...iconStyles,
  },
};

const { lang } = Astro.props as MainFooterProps;
---

<footer class="o-footer">
  <SocialList
    class:list={"o-footer__social-list"}
    social-items={socialItems}
    lang={lang}
    client:visible
  />

  <div class="o-footer__end">
    <div class="o-footer__end-wrapper">
      <div class="o-footer__blockquote">
        <img
          src="/assets/logo/web_shaped_logo_2023_whail_trans.svg"
          alt="Web Shaped Logo - Wal"
          width="200"
          height="200"
          loading="lazy"
        />
        <figure>
          <blockquote>
            „If debugging is the process of removing software bugs, then
            programming must be the process of putting them in.“
          </blockquote>
          <figcaption>
            —Edsger W. Dijkstra, <cite>(1930 – 2002)</cite>
          </figcaption>
        </figure>
      </div>
      <div class="o-footer__categories">
        <h3>Kategorien</h3>
        <menu>
          {
            categories.nodes.map((category) => (
              <a href={`/category/${category.slug}`}>
                <li>{category.name}</li>
              </a>
            ))
          }
        </menu>
      </div>
      <div class="o-footer__other">
        <h3>Other</h3>
        <Menu
          class:list={"o-footer__menu c-menu--footer"}
          menu-items={footerMenuItems.menuItems}
        />
      </div>
      <div class="o-footer__credits">
        © 2015 - {new Date().getFullYear()} Felix Scholze
      </div>
      <a
        href="https://github.com/felix-berlin/webshaped-blog-astro/releases"
        class="o-footer__version"
        target="_blank"
        title="Github Releases Seite">Website Version: {version}</a
      >

      <GreenHosted lang={lang} />
    </div>
  </div>
</footer>
