---
// import BlogPostVue from '@layouts/BlogPost.vue'
import BlogPost from '@layouts/BlogPost.astro';

import { getAllPostsWithSlugs, getPostBySlug } from '@lib/api';

export async function getStaticPaths() {
  const postWithSlugsDe: any = await getAllPostsWithSlugs();
  const postWithSlugsEn: any = await getAllPostsWithSlugs('EN');

  const postWithSlugsAllLang = [...postWithSlugsDe.edges, ...postWithSlugsEn.edges];

  return postWithSlugsAllLang.map(({ node }: any) => {
    return {
      params: {
        postSlug: node.slug,
        lang: node.language.slug
      },
    };
  });
}

const { postSlug, lang }: any = Astro.params;
const post: any = await getPostBySlug(postSlug);

---

<BlogPost content={post}>
  <div class="wrapper">
    <article set:html={post.content} class="o-article"></article>
  </div>
</BlogPost>

<!-- <BlogPostVue  client:visible
              title={post.title}
              description={post.excerpt}
              publishDate={post.dateGmt}
              heroImage={passProps.heroImage}>
  <div class="wrapper">
    <article set:html={post.content}></article>
  </div>
</BlogPostVue> -->
