---
import SocialList from "@components/SocialList.vue";
import Menu from "@components/Menu.vue";
import GreenHosted from "@components/footer/GreenHosted.vue";
import { getMenuById, getAuthor, getAllCategories } from "@services/api";
import { firstCategoryPage, getSocialIconData } from "@utils/helpers";
import { version } from "../../../package.json";
import "@styles/objects/_footer.scss";
import { __ } from "@i18n/i18n";

import type { RootQuery, Language, Maybe } from "@ts_types/generated/graphql";

const categories = (await getAllCategories()) as RootQuery["categories"];
const footerMenuItems = (await getMenuById(38)) as RootQuery["menu"];
const author = await getAuthor();

interface MainFooterProps {
  lang: Maybe<Language>;
}

const { lang } = Astro.props as MainFooterProps;

const iconStyles = {
  size: 40,
  strokeWidth: 1,
};

const additionalSoicalData = {
  mastodon: {
    rel: "me",
  },
  github: {
    rel: "me",
  },
};

const allSocials = {
  ...author?.seo?.social,
  ...author?.socialAdvanced,
};
---

<footer class="o-footer">
  <SocialList
    class:list={["o-footer__social-list", "is-footer"]}
    socialItems={getSocialIconData(
      allSocials,
      iconStyles,
      additionalSoicalData,
    )}
    lang={lang}
  />

  <div class="o-footer__end">
    <div class="o-footer__logo">
      <img
        src="/assets/logo/web_shaped_logo_2023_whail_trans_white_outline_no-spacing.svg"
        alt="Web Shaped Logo - Wal"
        width="150"
        height="103"
        loading="lazy"
      />
    </div>

    <div class="o-footer__categories">
      <h3 class="o-footer__headline">
        {__(lang?.locale, "categories")}
      </h3>
      <menu class="c-menu c-menu--footer-two-columns u-list-reset">
        {
          categories &&
            categories.nodes.map((category) => (
              <li class="c-menu__item">
                <a
                  class="c-menu__link"
                  href={`/category/${firstCategoryPage(category.slug)}`}
                >
                  {category.name}
                </a>
              </li>
            ))
        }
      </menu>
    </div>
    <div class="o-footer__other">
      <h3 class="o-footer__headline">
        {__(lang?.locale, "footer.headline.other")}
      </h3>
      <Menu
        class:list={"o-footer__menu c-menu--footer"}
        menuItems={footerMenuItems?.menuItems!}
      />
    </div>
    <div class="o-footer__quote">
      <figure>
        <blockquote>
          „If debugging is the process of removing software bugs, then
          programming must be the process of putting them in.“
        </blockquote>
        <figcaption>
          —Edsger W. Dijkstra, <cite>(1930 – 2002)</cite>
        </figcaption>
      </figure>
    </div>
    <div class="o-footer__infos">
      <div class="o-footer__credits">
        © 2015 - {__(lang?.locale, "footer.copyright.now")} Felix Scholze
      </div>
      <a
        href="https://github.com/felix-berlin/webshaped-blog-astro/releases"
        class="o-footer__version"
        target="_blank"
        title="Github Releases Seite">Website Version: {version}</a
      >

      <GreenHosted lang={lang} />
    </div>
  </div>
</footer>
