---
import '@styles/objects/_category.scss';
import '@styles/objects/_blog-listing.scss';
import '@styles/components/_blog-posts.scss';
import type { GetStaticPaths, GetStaticPathsResult, Page, PaginateFunction } from 'astro';

import BlogPostPreview from '@components/BlogPostPreview.vue';
import Pagination from '@components/Pagination.vue';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import { cacheExchange, Client, fetchExchange } from '@urql/core';
import { removeLocaleCode } from '@utils/helpers';
import { WP_API } from 'astro:env/client';

import { GetAllPostPreviewsByCategoryDocument } from '@/gql/graphql.ts';

export const prerender = true;

interface Paginate {
  paginate: PaginateFunction;
}

export const getStaticPaths = (async ({ paginate }: Paginate) => {
  const client = new Client({
    exchanges: [cacheExchange, fetchExchange],
    fetchOptions: {
      headers: {
        'Content-Type': 'application/json',
      },
    },
    url: WP_API,
  });

  const postsResponse = await client.query(GetAllPostPreviewsByCategoryDocument, {}).toPromise();

  const postPreviews = postsResponse?.data?.categories;
  const pageCount = 6;

  /**
   * @see https://docs.astro.build/en/core-concepts/routing/#nested-pagination
   */
  const routes: GetStaticPathsResult = postPreviews?.nodes.flatMap((category: any) => {
    const { seo } = category;
    const categoriesDe = category.posts?.nodes;
    const categoriesEn = category.translations;

    const availableLanguages: string[] = [];

    const hasDeCategories = Array.isArray(categoriesDe) && categoriesDe.length;

    if (hasDeCategories) {
      availableLanguages.push(category.language?.slug);
    }

    if (!hasDeCategories) return [];

    const germanPaths = paginate(categoriesDe, {
      pageSize: pageCount,
      params: {
        lang: category.language?.slug as string,
        slug: category.slug as string,
      },
      props: {
        availableLanguages: availableLanguages,
        content: {
          language: category.language,
          seo,
          title: category.name,
        },
      },
    });

    // TODO: make slug the same as in german
    const englishPaths =
      categoriesEn?.flatMap((translation: any) => {
        const { seo } = translation;
        const categoriesEnPosts = translation?.posts?.nodes;

        const hasEnCategories = Array.isArray(categoriesEnPosts) && categoriesEnPosts.length;

        if (hasEnCategories) {
          availableLanguages.push(translation?.language?.slug);
        }

        if (!hasEnCategories) return [];

        return paginate(categoriesEnPosts, {
          pageSize: pageCount,
          params: {
            lang: translation?.language?.slug as string,
            slug: removeLocaleCode(translation?.slug),
          },
          props: {
            availableLanguages: availableLanguages,
            content: {
              language: translation?.language,
              seo,
              title: translation?.name,
            },
          },
        });
      }) ?? [];

    return [...germanPaths, ...englishPaths];
  });

  const uniqueRoutes = new Map<string, (typeof routes extends Array<infer Item> ? Item : never)>();

  for (const route of routes ?? []) {
    const routeKey = `${route.params.lang}/${route.params.slug}/${route.params.page ?? '1'}`;

    if (!uniqueRoutes.has(routeKey)) {
      uniqueRoutes.set(routeKey, route);
    }
  }

  return [...uniqueRoutes.values()];
}) satisfies GetStaticPaths;

interface CategoryPageProps {
  availableLanguages: string[];
  content: {
    title: string | null;
  };
  page: Page;
}

const { availableLanguages, content, page } = Astro.props as unknown as CategoryPageProps;
const { lang, slug } = Astro.params as { lang: string; slug: string };

const path = `${lang}/category/${slug}`;
const posts = page.data;
const pageSuffix = page.currentPage === 1 ? '' : `/${page.currentPage}`;

const translationsRoutes = availableLanguages.reduce<Record<string, string>>(
  (acc, language: string) => {
    acc[language] = `${Astro.url.origin}/${language}/category/${slug}${pageSuffix}`;
    return acc;
  },
  {},
);
---

<DefaultLayout
  content={content}
  contentClasses='o-category'
  translationsRoutes={{ taxonomy: 'category', ...translationsRoutes }}
>
  <header class='o-category__header'>
    <h1 class='o-category__headline'>{content.title}</h1>
  </header>
  <section class='c-blog-posts'>
    <BlogPostPreview posts={posts} />
  </section>
  <Pagination page={page} path={path} />
</DefaultLayout>
