---
import "@styles/objects/_category.scss";
import "@styles/objects/_blog-listing.scss";
import "@styles/components/_blog-posts.scss";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  PaginateFunction,
} from "astro";

import BlogPostPreview from "@components/BlogPostPreview.vue";
import Pagination from "@components/Pagination.vue";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { cacheExchange, Client, fetchExchange } from "@urql/core";
import { removeLocaleCode } from "@utils/helpers";
import { WP_API } from "astro:env/client";

import { GetAllPostPreviewsByCategoryDocument } from "@/gql/graphql.ts";

export const prerender = true;

interface Paginate {
  paginate: PaginateFunction;
}

export const getStaticPaths = (async ({ paginate }: Paginate) => {
  const client = new Client({
    exchanges: [cacheExchange, fetchExchange],
    fetchOptions: {
      headers: {
        "Content-Type": "application/json",
      },
    },
    url: WP_API,
  });

  const postsResponse = await client.query(GetAllPostPreviewsByCategoryDocument, {}).toPromise();

  const postPreviews = postsResponse?.data?.categories;
  const pageCount = 6;

  /**
   * @see https://docs.astro.build/en/core-concepts/routing/#nested-pagination
   */
  return postPreviews?.nodes.flatMap((category) => {
    const { seo } = category;
    const categoriesDe = category.posts?.nodes;
    const categoriesEn = category.translations;

    const availableLanguages: string[] = [];

    const hasDeCategories = Array.isArray(categoriesDe) && categoriesDe.length;

    if (hasDeCategories) {
      availableLanguages.push(category.language?.slug);
    }

    if (!hasDeCategories) return [];

    const germanPaths = paginate(categoriesDe, {
      pageSize: pageCount,
      params: {
        lang: category.language?.slug as string,
        slug: category.slug as string,
      },
      props: {
        availableLanguages: availableLanguages,
        content: {
          language: category.language,
          seo,
          title: category.name,
        },
      },
    });

    // TODO: make slug the same as in german
    const englishPaths =
      categoriesEn?.flatMap((translation) => {
        const { seo } = translation;
        const categoriesEnPosts = translation?.posts?.nodes;

        const hasEnCategories = Array.isArray(categoriesEnPosts) && categoriesEnPosts.length;

        if (hasEnCategories) {
          availableLanguages.push(translation?.language?.slug);
        }

        if (!hasEnCategories) return [];

        return paginate(categoriesEnPosts, {
          pageSize: pageCount,
          params: {
            lang: translation?.language?.slug as string,
            slug: removeLocaleCode(translation?.slug),
          },
          props: {
            availableLanguages: availableLanguages,
            content: {
              language: translation?.language,
              seo,
              title: translation?.name,
            },
          },
        });
      }) ?? [];

    return [...germanPaths, ...englishPaths];
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { availableLanguages, content, page, seo } = Astro.props;
const { lang, slug } = Astro.params as Params;

const path = `${lang}/category/${slug}`;
const posts = page.data;

const translationsRoutes = availableLanguages.reduce((acc, language) => {
  acc[language] = `${Astro.url.origin}/${language}/category/${slug}/${page.currentPage}`;
  return acc;
}, {});
---

<DefaultLayout
  content={content}
  contentClasses="o-category"
  translationsRoutes={{ taxonomy: "category", ...translationsRoutes }}
>
  <header class="o-category__header">
    <h1 class="o-category__headline">{content.title}</h1>
  </header>
  <section class="c-blog-posts">
    <BlogPostPreview posts={posts} />
  </section>
  <Pagination lang={content.language} page={page} path={path} />
</DefaultLayout>
