---
import "@styles/components/_author.scss";
import ScrobbleDisplay from "@components/ScrobbleDisplay.vue";
import type {
  Language,
  NodeWithAuthorToUserConnectionEdge,
  Maybe,
} from "@ts_types/generated/graphql";

export interface AuthorProps {
  author: Maybe<NodeWithAuthorToUserConnectionEdge> | undefined;
  lang: Maybe<Language>;
}

const { author, lang } = Astro.props as AuthorProps;

const scrobbleApi = import.meta.env.PUBLIC_LAST_FM_SCROBBLER_API;
---

<div class="c-author">
  <div class="c-author__image-wrap">
    {
      author?.node?.avatar?.url && (
        <img
          src={author.node.avatar.url}
          class="c-author__image"
          alt="`Foto des Author: ${author?.node.firstName} ${author?.node.lastName}`"
          width={author.node.avatar.width || undefined}
          height={author.node.avatar.height || undefined}
          loading="lazy"
        />
      )
    }

    <ScrobbleDisplay
      scrobble-api={scrobbleApi}
      idle-after-count={1}
      class="c-author__scrobble"
      client:only="vue"
    />
  </div>

  <p class="c-author__name">
    {`${author?.node.firstName} ${author?.node.lastName}`}
  </p>

  <p class="c-author__description">
    {author?.node.description}
  </p>
</div>
