---
import '../styles/app.scss';
import '../styles/components/_blog.scss';
import '../styles/components/_blog-sidebar.scss';
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/700.css';

import BaseHead from "@components/BaseHead.astro";
import MainHeader from '@components/hero/MainHeader.vue';
import DateModified from '@components/post/DateModified.vue';
import ReadingTime from '@components/ReadingTime.vue';
import Comments from '@components/comments/Comments.vue';
import CommentCount from '@components/comments/CommentCount.vue';
import Share from '@components/Share.vue';
// import TableOfContents from '@components/TableOfContents.vue';
import TableOfContentsClientSide from '@components/TableOfContentsClientSide.vue';
import Helpful from '@components/Helpful.vue';
import Categories from '@components/Categories.vue';
import Author from '@components/Author.vue';
import MainFooter from '@components/MainFooter.astro';
import Prism from '@components/Prism.vue';
import Webmentions from '@components/webmentions/Webmentions.vue';
import WebmentionsCount from '@components/webmentions/WebmentionsCount.vue';
import LoadWebmentions from '@components/webmentions/LoadWebmentions.vue';
import Matomo from '@components/Matomo.vue';
import PostOlderThan from '@components/PostOlderThan.vue';
import { Breadcrumbs } from 'astro-breadcrumbs';
// import Breadcrumbs from '@components/Breadcrumbs.astro';
import { __ } from '@i18n/i18n'

import type { AuthorData } from '@components/Author.vue';
import type { Seo, Title } from '@components/BaseHead.astro';

import { getMenuById } from '@lib/api';
export interface BlogPost {
	content: {
    title: Title;
    slug: string;
    seo: Seo;
    author: AuthorData;
		dateGmt: string;
    modifiedGmt: string;
		featuredImage: {
      node: {
        mediaItemUrl: string;
        altText: string;
        srcSet: string;
        sizes: string;
        mediaDetails: {
          width: number;
          height: number;
        },
      }
		};
		language: {
			code: string;
			locale: string;
			name: string;
      slug: string;
		},
		comments: object;
		commentCount: number;
		postId: number;
		content: string;
		categories: object;
	};
}

const {
	content: {
		title,
    slug,
		dateGmt,
    modifiedGmt,
		featuredImage,
		seo,
		language,
		comments,
		commentCount,
		postId,
		content,
		categories,
		author
	},
} = Astro.props as BlogPost;

const langAttr = language.locale.replace('_', '-');

const { menuItems }: any = await getMenuById(2); // DE
// const { menuItemsEn }: any = await getMenuById(125); // EN

// console.log(Astro);
//
//

const homeIcon = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>';

const breadcrumbItems = [
  {
    name: 'Home',
    url: '/',
    icon: homeIcon,
  },
  {
    name: 'Blog',
    url: '/blog',
  },
  {
    name: title,
    url: `/blog/${slug}`,
  },
];
---

<html lang={langAttr}>
	<head>
		<BaseHead title={title} seo={seo} />
    <!-- LastFM API -->
    <link rel="preconnect" href="//last-fm.kasimir.dev">
    <script src="../lib/smooth-scroll-anchor.ts"></script>
	</head>

	<body class="o-body">
		<MainHeader menuItems={menuItems} lang={language} client:load />

    <main class="o-content c-blog">
      <header class="c-blog__header">
        <!-- <Breadcrumbs indexText={"Start"}>
          <span slot="index">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
          </span>
          <span slot="separator" class="c-breadcrumbs__separator">/</span>
        </Breadcrumbs> -->
        <h1 class="c-blog__title">{title}</h1>
        <DateModified date={modifiedGmt} lang={language} client:load/>
        <ReadingTime time={seo.readingTime} lang={language}/>
        <WebmentionsCount elementIs={'a'} href={'#webmentions'} lang={language} client:load></WebmentionsCount>
        <Categories categories={categories} client:visible></Categories>
      </header>
      <article id="swup" class="c-blog__post">
        <header >
          {featuredImage && (
            <img
              width={featuredImage.node.mediaDetails.width}
              height={featuredImage.node.mediaDetails.height}
              alt={featuredImage.node.altText}
              src={featuredImage.node.mediaItemUrl}
              srcset={featuredImage.node.srcSet}
              loading="eager"
              decoding="async"
              fetchpriority="high"
              class="c-blog__hero-image"
            />
          )}

          <!-- <Helpful client:load></Helpful> -->

          <!-- <CommentCount commentTotal={commentCount} isElement="a" href="#comments"></CommentCount> -->
          <Prism client:load></Prism>
        </header>
          <PostOlderThan date={modifiedGmt} showAfterYears={4} lang={language}></PostOlderThan>


        <slot></slot>

        <footer>
          <Author author={author} lang={language} client:visible></Author>

          <LoadWebmentions client:only></LoadWebmentions>


          <Comments comments={comments} currentPostId={postId} client:load id="comments"></Comments>
        </footer>

      </article>

      <aside class="c-blog-sidebar">
        <h2 class="c-blog-sidebar__headline">{ __(language.locale, 'blog.table_of_contents') }</h2>
        <TableOfContentsClientSide target=".c-blog__content" client:only></TableOfContentsClientSide>

        <Share title={seo.title} text={seo.opengraphDescription} lang={language} client:only></Share>

      </aside>


    </main>

    <!-- <script>
      import '../lib/swup.js';
    </script> -->
    <Matomo client:only
            site-id={"3"}
            cookie-domain={"*.webshaped.de"}
            host={"analytics.webshaped.de"}
            debug-mode={true}></Matomo>
    <MainFooter lang={language}></MainFooter>
	</body>
</html>

<style>
</style>
