---
import '@fontsource/source-sans-pro';
import BaseHead from "@components/BaseHead.astro";
import Header from '@components/Header.vue';
import Date from '@components/Date.vue';
import ReadingTime from '@components/ReadingTime.vue';
import Comments from '@components/Comments.vue';
import CommentCount from '@components/CommentCount.vue';
import Share from '@components/Share.vue';
// import TableOfContents from '@components/TableOfContents.vue';
import Categories from '@components/Categories.vue';
import Author from '@components/Author.vue';

import Prism from '@components/Prism.vue';

import type { AuthorData } from '@components/Author.vue';
import type { Seo, Title } from '@components/BaseHead.astro';

import { getMenuById } from '@lib/api';
import TableOfContentsClientSide from '@components/TableOfContentsClientSide.vue';

export interface BlogPost {
	content: {
    title: Title;
    seo: Seo;
    author: AuthorData;
		dateGmt: string;
		featuredImage: {
      node: {
        mediaItemUrl: string;
        altText: string;
        srcSet: string;
        sizes: string;
        mediaDetails: {
          width: number;
          height: number;
        },
      }
		};
		language: {
			code: string;
			locale: string;
			name: string;
		},
		comments: object;
		commentCount: number;
		postId: number;
		content: string;
		categories: object;
	};
}

const {
	content: {
		title,
		dateGmt,
		featuredImage,
		seo,
		language,
		comments,
		commentCount,
		postId,
		content,
		categories,
		author
	},
} = Astro.props as BlogPost;

const langAttr = language.locale.replace('_', '-');

const { menuItems }: any = await getMenuById(2);
console.log(author);

---

<html lang={langAttr}>
	<head>
		<BaseHead title={title} seo={seo} />
	</head>

	<body>
		<Header menuItems={menuItems} client:load/>
		<article class="wrapper o-content">
			<header>
				{featuredImage && (
					<img
						width={featuredImage.node.mediaDetails.width}
						height={featuredImage.node.mediaDetails.height}
						loading="eager"
						alt={featuredImage.node.altText}
						src={featuredImage.node.mediaItemUrl}
						srcset={featuredImage.node.srcSet}
					/>
				)}
				<h1 class="title">{title}</h1>
				<Date date={dateGmt} client:visible></Date>

				<CommentCount commentTotal={commentCount} isElement="a" href="#comments"></CommentCount>

				<Share title={seo.title} text={seo.opengraphDescription} client:visible></Share>

				<ReadingTime time={seo.readingTime} />

				<Categories categories={categories} client:visible></Categories>

				<Author author={author} client:visible></Author>

				<!-- <TableOfContents content={content}></TableOfContents> -->
        <TableOfContentsClientSide target=".o-article" client:load></TableOfContentsClientSide>

        <Prism client:load></Prism>
			</header>
			<main>
				<slot></slot>
			</main>
		</article>
		<div>
			<Comments comments={comments} currentPostId={postId} client:load id="comments"></Comments>
		</div>
	</body>
</html>

<style>
	img {
		width: 100vw;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		margin-bottom: 4rem;
		max-width: 1280px;
	}

	@media (max-width: 50em) {
		img {
			height: 260px;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}

	.content {
		margin-bottom: 8rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	/* Font example */
	.title,
	time {
		margin: 0;
		font-family: 'Source Sans Pro', sans-serif;
	}

	time {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
	}
</style>
