---
import '../styles/app.scss';
import '../styles/components/_blog.scss';
import '../styles/components/_blog-sidebar.scss';
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/700.css';

import BaseHead from "@components/BaseHead.astro";
import MainHeader from '@components/hero/MainHeader.vue';
import Date from '@components/Date.vue';
import ReadingTime from '@components/ReadingTime.vue';
import Comments from '@components/comments/Comments.vue';
import CommentCount from '@components/comments/CommentCount.vue';
import Share from '@components/Share.vue';
// import TableOfContents from '@components/TableOfContents.vue';
import TableOfContentsClientSide from '@components/TableOfContentsClientSide.vue';
import Helpful from '@components/Helpful.vue';
import Categories from '@components/Categories.vue';
import Author from '@components/Author.vue';
import MainFooter from '@components/MainFooter.astro';
import Prism from '@components/Prism.vue';
import Webmentions from '@components/webmentions/Webmentions.vue';
import WebmentionsCount from '@components/webmentions/WebmentionsCount.vue';
import LoadWebmentions from '@components/webmentions/LoadWebmentions.vue';
import Matomo from '@components/Matomo.vue';
import PostOlderThan from '@components/PostOlderThan.vue';

import type { AuthorData } from '@components/Author.vue';
import type { Seo, Title } from '@components/BaseHead.astro';

import { getMenuById } from '@lib/api';
export interface BlogPost {
	content: {
    title: Title;
    slug: string;
    seo: Seo;
    author: AuthorData;
		dateGmt: string;
    modifiedGmt: string;
		featuredImage: {
      node: {
        mediaItemUrl: string;
        altText: string;
        srcSet: string;
        sizes: string;
        mediaDetails: {
          width: number;
          height: number;
        },
      }
		};
		language: {
			code: string;
			locale: string;
			name: string;
      slug: string;
		},
		comments: object;
		commentCount: number;
		postId: number;
		content: string;
		categories: object;
	};
}

const {
	content: {
		title,
    slug,
		dateGmt,
    modifiedGmt,
		featuredImage,
		seo,
		language,
		comments,
		commentCount,
		postId,
		content,
		categories,
		author
	},
} = Astro.props as BlogPost;

const langAttr = language.locale.replace('_', '-');

const { menuItems }: any = await getMenuById(2); // DE
// const { menuItemsEn }: any = await getMenuById(125); // EN

// console.log(Astro.url.pathname, menuItemsEn, language);

---

<html lang={langAttr}>
	<head>
		<BaseHead title={title} seo={seo} />
    <!-- LastFM API -->
    <link rel="preconnect" href="//last-fm.kasimir.dev">
    <script src="../lib/smooth-scroll-anchor.ts"></script>
	</head>

	<body class="o-body">
		<MainHeader menuItems={menuItems} client:load />
    <main class="o-content c-blog">
      <article id="swup" class="c-blog__article">
        <header class="c-blog__header">
          {featuredImage && (
            <img
              width={featuredImage.node.mediaDetails.width}
              height={featuredImage.node.mediaDetails.height}
              alt={featuredImage.node.altText}
              src={featuredImage.node.mediaItemUrl}
              srcset={featuredImage.node.srcSet}
              loading="eager"
              decoding="async"
              fetchpriority="high"
              class="c-blog__hero-image"
            />
          )}
          <h1 class="title">{title}</h1>
          <Date date={dateGmt} dateModified={modifiedGmt} lang={language} client:visible></Date>

          <PostOlderThan date={dateGmt}></PostOlderThan>

          <!-- <Helpful client:load></Helpful> -->

          <CommentCount commentTotal={commentCount} isElement="a" href="#comments"></CommentCount>

          <WebmentionsCount client:load></WebmentionsCount>

          <ReadingTime time={seo.readingTime} />

          <Categories categories={categories} client:visible></Categories>

          <Prism client:load></Prism>
        </header>


        <slot></slot>

        <footer>
          <Author author={author} client:visible></Author>

          <LoadWebmentions client:only ></LoadWebmentions>


          <Comments comments={comments} currentPostId={postId} client:load id="comments"></Comments>
        </footer>

      </article>

      <aside class="c-blog-sidebar">

        <!-- <TableOfContents content={content}></TableOfContents> -->
        <h2>Inhaltsverzeichnis</h2>
        <TableOfContentsClientSide target=".c-blog__content" client:only></TableOfContentsClientSide>

        <Share title={seo.title} text={seo.opengraphDescription} client:load></Share>

      </aside>


    </main>

    <!-- <script>
      import '../lib/swup.js';
    </script> -->
    <Matomo client:only
            site-id={"3"}
            cookie-domain={"*.webshaped.de"}
            host={"analytics.webshaped.de"}
            debug-mode={true}></Matomo>
    <MainFooter></MainFooter>
	</body>
</html>

<style>
</style>
