---
import "@styles/app.scss";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/400-italic.css";
import "@fontsource/source-sans-pro/700.css";

import BaseHead from "@components/BaseHead.astro";
import MainHeader from "@components/hero/MainHeader.vue";
import MainFooter from "@components/footer/MainFooter.astro";
// import Matomo from "@components/Matomo.vue";
import { getMenuById, getAuthor } from "@services/api";
import { updateCategoryPaths } from "@utils/helpers";

import type { SeoProps } from "@components/BaseHead.astro";
import type { Language } from "@ts_types/generated/graphql";

export interface DefaultLayoutProps {
  content: {
    title: string;
    seo: SeoProps;
    language: Language;
  };
  contentClasses?: Array<string> | string;
  bodyClasses?: Array<string> | string;
}

const {
  content: { title, seo, language },
  contentClasses,
  bodyClasses,
} = Astro.props as DefaultLayoutProps;

const langAttr = language.locale?.replace("_", "-");

const mainMenuItems = await getMenuById(2);
// const { menuItemsEn }: any = await getMenuById(125); // EN
---

<html lang={langAttr}>
  <head>
    <BaseHead title={title} seo={seo} />

    <slot name="head" />
  </head>

  <body class="o-body" class:list={bodyClasses}>
    <MainHeader
      menuItems={updateCategoryPaths(mainMenuItems)?.menuItems!}
      lang={language!}
      client:only="vue"
      transition:persist
    />
    <main class="o-content" class:list={contentClasses}>
      <slot />
    </main>

    <!-- {
      import.meta.env.ENABLE_ANALYTICS === "true" && (
        <Matomo
          client:only="vue"
          site-id={"3"}
          cookie-domain={"*.webshaped.de"}
          host={"analytics.webshaped.de"}
          debug-mode={true}
        />
      )
    } -->
    <MainFooter lang={language} transition:persist />
  </body>
</html>
