---
import "@styles/app.scss";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/400-italic.css";
import "@fontsource/source-sans-pro/700.css";

import type { SeoProps } from "@components/BaseHead.astro";

import BaseHead from "@components/BaseHead.astro";
import MainFooter from "@components/footer/MainFooter.astro";
import MainHeader from "@components/hero/MainHeader.astro";
import { getLangFromUrl } from "@utils/i18n/utils";

import type { Language } from "@/gql/graphql.ts";

export interface DefaultLayoutProps {
  bodyClasses?: Array<string> | string;
  content: {
    language: Language;
    seo: SeoProps;
    title: string;
  };
  contentClasses?: Array<string> | string;
  translationsRoutes?: TranslationRoutes;
}

export type TranslationRoutes = { [key: string]: string };

const {
  bodyClasses,
  content: { seo, title },
  contentClasses,
  translationsRoutes,
} = Astro.props as DefaultLayoutProps;

const lang = getLangFromUrl(Astro.url);
---

<!-- TODO: Remove after lightmode is final: #9 -->
<html class="dark" lang={lang}>
  <!-- <Head> -->
  <BaseHead lang={lang} seo={seo} title={title} translationsRoutes={translationsRoutes}>
    <Fragment slot="head">
      <slot name="head" />
    </Fragment>
  </BaseHead>

  <body class="o-body" class:list={bodyClasses}>
    <MainHeader lang={lang} transition:persist />
    <main class="o-content" class:list={contentClasses}>
      <slot />
    </main>

    <MainFooter lang={lang} transition:persist />
  </body>
</html>
