---
import "@styles/app.scss";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/400-italic.css";
import "@fontsource/source-sans-pro/700.css";

import BaseHead from "@components/BaseHead.astro";
import MainHeader from "@components/hero/MainHeader.astro";
import MainFooter from "@components/footer/MainFooter.astro";
import { getMenuById, getAuthor } from "@services/api";
import { updateCategoryPaths } from "@utils/helpers";

import type { SeoProps } from "@components/BaseHead.astro";
import type { Language } from "@ts_types/generated/graphql";
import { Head } from "astro-capo";
import { getLangFromUrl } from "@utils/i18n/utils";

export type TranslationRoutes = { [key: string]: string };

export interface DefaultLayoutProps {
  content: {
    title: string;
    seo: SeoProps;
    language: Language;
  };
  translationsRoutes?: TranslationRoutes;
  contentClasses?: Array<string> | string;
  bodyClasses?: Array<string> | string;
}

const {
  content: { title, seo },
  contentClasses,
  bodyClasses,
  translationsRoutes,
} = Astro.props as DefaultLayoutProps;

const lang = getLangFromUrl(Astro.url);
const mainMenuItemsDe = await getMenuById(2);
const mainMenuItemsEn = await getMenuById(125);

const mainMenuItems = lang === "de" ? mainMenuItemsDe : mainMenuItemsEn;
---

<html lang={lang}>
  <Head>
    <BaseHead title={title} seo={seo} />

    <slot name="head" />
  </Head>

  <body class="o-body" class:list={bodyClasses}>
    <MainHeader
      menuItems={updateCategoryPaths(mainMenuItems, lang)?.menuItems}
      lang={lang}
      translationsRoutes={translationsRoutes}
      transition:persist
    />
    <main class="o-content" class:list={contentClasses}>
      <slot />
    </main>

    <MainFooter lang={lang} transition:persist />
  </body>
</html>
